#listgroup
{
    margin-top: 70px;
}
.right_row
{

    margin-top: 70px;

}

form
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.delete_icon
{
    margin-top: 8px;
}

.form-control
{
    width: 100px;
}

.search
{
    margin-bottom: 10px;
}